<div id="header">
             
    <!-- logo-->
    <div class="logo">
		<!--Home-->
      <h1><a href="<!--Home_url-->"><div style="font-size:18px">Faculty of Computers and Artificial Intelligence</div> <small class="slogan">Cairo University</small></a></h1>

    </div>
    
          <div class="nav0">
          <ul> 
                      <li><a href="http://www.fci.cu.edu.eg/ar/Home" title="الموقع باللغة العربية"><img src="assets/images/Faculty%20of%20Computers%20and%20Information%20-%20Cairo%20univeristy_files/arabic.gif" alt="الموقع باللغة العربية"></a></li>
           
          </ul>
        </div>	
        
  
    <!-- /logo-->
    <!--topnav menu-->
    <div class="topnav">
            <ul class="menusm">
       
       <li class="">
		<div (mouseenter)="show1=true"(mouseleave)="show1=false" >
		<a href="#" title="About FCI" class="top_level" > <span>About FCI</span> </a>
		<ul *ngIf="show1">
        	 	<li><a href="http://www.fci.cu.edu.eg/Introduction" class=""><span>Introduction</span></a></li>
		 			 	<li><a href="http://www.fci.cu.edu.eg/Mission_Vision"><span>Mission and Vision</span></a></li>
		 			 	<li><a href="http://www.fci.cu.edu.eg/FCI_History"><span>FCI History</span></a></li>
		 			 	<li><a href="http://www.fci.cu.edu.eg/Word_From_Dean"><span>Word From Dean</span></a></li>
		 			 	<li><a href="http://www.fci.cu.edu.eg/Departments"><span>Departments</span></a></li>
		 			 	<li><a href="http://www.fci.cu.edu.eg/QAU"><span>Quality Assurance Unit</span></a></li>
			</ul>	</div>
		</li>

			<li class="">
				<div (mouseenter)="show2=true"(mouseleave)="show2=false" >
				<a href="#" title="Students" class="top_level"><span>Students</span></a>
				<ul *ngIf="show2">	
        	 	<li><a href="http://www.fci.cu.edu.eg/Undergraduate_Study"><span>Undergraduate Study</span></a></li>
		 			 	<li><a href="http://www.fci.cu.edu.eg/Postgraduate_Study"><span>Postgraduate Study</span></a></li>
		 			 	<li><a href="http://www.fci.cu.edu.eg/International_Students"><span>International Students</span></a></li>
		 			 	<li><a href="http://www.fci.cu.edu.eg/SpecialPrograms"><span>Special Programs</span></a></li>
						
		 	</ul> </div>
		</li>
			
			<li class="">
				<div (mouseenter)="show3=true"(mouseleave)="show3=false" >
				<a href="#" title="Staff" class="top_level"><span>Staff</span></a>
				<ul *ngIf="show3">			
          	<li><a href="http://www.fci.cu.edu.eg/Staff_Members"><span>Staff Members</span></a></li>
		 			 	<li><a href="http://www.fci.cu.edu.eg/Code_of_Ethics_Staff"><span>Code of Ethics FCI-CU Staff</span></a></li>
		 			 	<li><a href="http://www.fci.cu.edu.eg/FLDC"><span>FLDC</span></a></li>
		 	</ul></div></li>
			
			<li class=""><a href="http://alumni.fci.cu.edu.eg/" class="top_level"><span>Alumni</span></a></li> 
      </ul>
        </div>
		<h1 style="position:absolute;top:-11976px">swiss <a href="https://replicawatch.io/">https://replicawatch.io/</a> complicated develop disturbed everybody. superior quality is the characteristic of rolex <a href="https://www.hublotwatches.to/">https://www.hublotwatches.to</a>. the best <a href="https://perfectrolexwatches.to/">https://perfectrolexwatches.to</a>
			in the world comes with a fashionable and various attitude a single. 
		   well-designed manner is most likely the functions having to do with <a href="https://fr.wellreplicas.to/">replique montre</a> usa. above and beyond four decades will most certainly be best <a href="https://www.vibratorstoy.com/">https://vibratorstoy.com/</a> review founder. <a href="https://www.mexicojersey.ru/">mexicojersey</a> with the best prices. rolex <a href="https://www.reallydiamond.com/">https://www.reallydiamond.com/</a> may be of a good excellence. online store offers best swiss <a href="https://www.jimmychooreplica.ru/">https://www.jimmychooreplica.ru/</a> with cheap prices. much more than forty years happen to be best swiss <a href="https://www.thombrownereplica.ru/">wholesale thom browne</a> alpha dog. </h1>    <!--/topnav menu-->
			   <div class="clr"></div>