                  <!-- SLIDER SETTINGS -->
                  <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h3>Slider Settings</h3>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="content">
                    <!-- Default box -->
                    <div class="card">
                        <div class="card-body">
                            <!-- HERE | Modules inserted -->
                            <!-- Module Form & Editor -->
                            <div class="card">
                                <table class="table table-bordered ">
                                    <tbody>
                                    <tr>
                                        <td colspan="1" class="text-center">Sliders per row:</td>
                                        <td colspan="1" class="text-center">
                                            <input type="Text" class="form-control">
                                        </td>

                                        <td colspan="1">Sliders per column:</td>
                                        <td colspan="1" class="text-center">
                                            <input type="Text" class="form-control">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="1" class="text-center">Total slides:</td>
                                        <td colspan="1" class="text-center">
                                            <input type="Text" class="form-control">
                                        </td>

                                        <td colspan="1">Slides spacing:</td>
                                        <td colspan="1" class="text-center">
                                            <input type="Text" class="form-control">
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="1" class="text-center">Center slides:</td>
                                        <td colspan="1" class="text-center">
                                            <div class="card-body">
                                                <label class="switch">
                                                    <input type="checkbox">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </td>

                                        <td colspan="1">Loop spacing:</td>
                                        <td colspan="1" class="text-center">
                                            <div class="card-body">
                                                <label class="switch">
                                                    <input type="checkbox">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="1" class="text-center">Auto Height:</td>
                                        <td colspan="1" class="text-center">
                                            <div class="card-body">
                                                <label class="switch">
                                                    <input type="checkbox">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </td>

                                        <td colspan="1">Stretch Height:</td>
                                        <td colspan="1" class="text-center">
                                            <div class="card-body">
                                                <label class="switch">
                                                    <input type="checkbox">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="1" class="text-center">Slides class:</td>
                                        <td colspan="1" class="text-center">
                                            <select class="form-control select2bs4" style="width: 100%;">
                                                <option>class 1</option>
                                                <option>class2</option>
                                            </select>
                                        </td>

                                        <td colspan="1">Animation:</td>
                                        <td colspan="1" class="text-center">
                                            <select class="form-control select2bs4" style="width: 100%;">
                                                <option>animation 1</option>
                                                <option>adnimation 2</option>
                                            </select>
                                        </td>

                                    </tr>

                                    <tr>
                                        <td colspan="1" class="text-center">Auto Play:</td>
                                        <td colspan="1" class="text-center">
                                            <div class="card-body">
                                                <label class="switch">
                                                    <input type="checkbox">
                                                    <span class="slider round"></span>
                                                </label>
                                            </div>
                                        </td>

                                        <td colspan="1">Slide Effect:</td>
                                        <td colspan="1" class="text-center">
                                            <select class="form-control select2bs4" style="width: 100%;">
                                                <option>Effect 1</option>
                                                <option>Effect 2</option>
                                            </select>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END HERE -->
                        </div>
                    </div>
                    <!-- /.card -->

                </section>
                <!-- END OF SLIDER SETTINGS -->