   <!-- HERE | Modules inserted -->
   <div class="card ">
    <div class="card-header ">
        <h3 class="card-title mt-3">
            Module Content
        </h3>
        <div class="card-tools ">
            <div class="card-footer clearfix ">
                <button type="button" class="btn btn-primary float-right "><i
                        class="fas fa-plus "></i> Insert
                    Module
                </button>
            </div>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body ">
        <ul class="todo-list " data-widget="todo-list ">
            <li>
                <!-- drag handle -->
                <span class="handle ">
  <i class="fas fa-ellipsis-v"></i>
  <i class="fas fa-ellipsis-v"></i>
</span>
                <span class="tools">
  <i class="fas fa-edit "></i>
  <i class="fas fa-trash "></i>
</span>
                <div class="card-body ">
                    <div class="text-center">Module content</div>
                </div>
            </li>
            <li>
                <!-- drag handle -->
                <span class="handle ">
  <i class="fas fa-ellipsis-v"></i>
  <i class="fas fa-ellipsis-v"></i>
</span>
                <span class="tools">
  <i class="fas fa-edit "></i>
  <i class="fas fa-trash "></i>
</span>
                <div class="card-body ">
                    <div class="text-center">Module content</div>
                </div>
            </li>


        </ul>
    </div>
</div>