<script  scr="/assets/javascript/header2.js"></script>
<div class="print-only" style="padding: 20px; background: #eee; height: 0px"></div>
<div id="nav-sticky-sticky-wrapper" class="sticky-wrapper nav-stuck" style="height: 139px;">
  <div class="header" id="nav-sticky" style="width: 1519.2px; position: fixed; top: 0.01px; z-index: 1000;">
    <div class="container header_container">
      <div class="logo">
        <div>
          <a href="https://www.arabccd.net/">
            <img src="\assets\images\logo_fci.png" alt="المجلس العربى للطفولة والتنمية">
          </a>
        </div>
      </div>
      <div class="buttons prefix no-print" style="display: none">
        <div>
          <a href="https://www.arabccd.net/">
            <i class="fas fa-home"></i>
          </a>
        </div>&nbsp;&nbsp;
      </div>
      <div class="menu no-print">
        <div class="buttons suffix hidden-xs hidden-sm" style="margin-bottom:10px">
          <div>
            <a href="https://www.arabccd.net/">
              <i class="fal fa-home"></i>
            </a>
          </div>
          <div>
            <a data-toggle="dropdown">
              <i class="fal fa-user"></i>
            </a>
            <ul class="dropdown-menu reverse animate">
              <li>
                <a href="#" data-toggle="modal" data-target="#loginModal">تسجيل الدخول</a>
              </li>
              <li>
                <a href="https://www.arabccd.net/signup/">تسجيل حساب جديد</a>
              </li>
            </ul>
          </div>
          <div>
            <a href="https://www.arabccd.net/soon/">EN</a>
          </div>
          <div>
            <a>
              <i class="fal fa-search"></i>
            </a>
          </div>
        </div>
        <div class="nav-menu-container">
          <div class="nav-menu-sm">
            <div class="container container-md">
              <div class="nav-cover">
                <span class="close-nav">×</span>
              </div>
              <div class="nav-button">
                <i class="fas fa-bars"></i>
              </div>
            </div>
          </div>
          <ul class="nav-menu">
            <div class="nav-menu-sm">
              <img src="\assets\images\logo_fci.png" alt="المجلس العربى للطفولة والتنمية">
            </div>
            <div class="test" (mouseenter)="show1=true" (mouseleave)="show1=false">
              <li class="nav-item nav-dropdown-item">
                <a href="">من نحن <span class="fas fa-angle-down"></span>
                </a>
                <ul class="nav-dropdown" *ngIf="show1">
                  <div class="menu-links">
                    <div class="menu-block single">
                      <b>
                        <a href="">عن المجلس</a>
                      </b>
                    </div>
                    <div class="menu-block single">
                      <b>
                        <a href="">المؤسس</a>
                      </b>
                    </div>
                    <div class="menu-block single">
                      <b>
                        <a href="">رئيس المجلس</a>
                      </b>
                    </div>
                    <div class="menu-block single">
                      <b>
                        <a href="">الأمين العام</a>
                      </b>
                    </div>
                    <div class="menu-block single">
                      <b>
                        <a href="#module-6116263881e97">مجلس الأمناء</a>
                      </b>
                    </div>
                    <div class="menu-block single">
                      <b>
                        <a href="#module-62983c2079a2d">الهيكل التنظيمي</a>
                      </b>
                    </div>
                    <div class="menu-block single">
                      <b>
                        <a href="#module-611626519bd22">دعم المجلس</a>
                      </b>
                    </div>
                    <div class="menu-block single">
                      <b>
                        <a href="#module-6116265c3a39a">تشبيك وشراكات</a>
                      </b>
                    </div>
                  </div>
                </ul>
              </li>
            </div>
            <div (mouseenter)="show2=true" (mouseleave)="show2=false">
            <li class="nav-item nav-dropdown-item">
              <a toggle="" href="">مجالات التركيز <span class="fas fa-angle-down"></span>
              </a>
              <ul class="nav-dropdown " *ngIf="show2">
                <div class="menu-links">
                  <div class="menu-block single">
                    <b>
                      <a href="#module-6368e1ea86171">نموذج تربية الامل</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="#module-6368fa3c2312b">التنمية المستدامة</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="#module-611635c00fa3b">محاور العمل</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="#module-611637a2981ef">مشاريع المجلس</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="#module-612123a0dd68a">مبادرات المجلس</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="">فعاليات المجلس</a>
                    </b>
                  </div>
                </div>
              </ul>
            </li></div>
            <div (mouseenter)="show3=true" (mouseleave)="show3=false">
            <li class="nav-item nav-dropdown-item">
              <a toggle="" href="https://www.arabccd.net/clearing-house/">بوابة المعرفة <span class="fas fa-angle-down"></span>
              </a>
              <ul class="nav-dropdown " *ngIf="show3">
                <div class="menu-links">
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/clearing-house/">رئيسية البوابة</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/publications/">إصدارات المجلس</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/clearing-house/news/">ارشيف البوابة</a>
                    </b>
                  </div>
                </div>
              </ul>
            </li></div>
            <div (mouseenter)="show4=true" (mouseleave)="show4=false">
            <li class="nav-item nav-dropdown-item">
              <a toggle="" href="https://www.arabccd.net/observatory/">المرصد الإعلامي <span class="fas fa-angle-down"></span>
              </a>
              <ul class="nav-dropdown " *ngIf="show4">
                <div class="menu-links">
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/observatory/#module-6112a274c1d02">ما المرصد</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/observatory/#module-6112a7bc5e837">مكونات عمل المرصد</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/observatory/#module-611f580060097">المبادئ المهنية</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/observatory/#module-61142278c3898">تنمية قدرات الإعلاميين</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/observatory/records/">الرصد الإعلامي</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="">ملف الصحفي الشهري</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/observatory/#module-611f5b97a3502">إصدارات المرصد</a>
                    </b>
                  </div>
                </div>
              </ul>
            </li></div>
            <div (mouseenter)="show5=true" (mouseleave)="show5=false">
            <li class="nav-item nav-dropdown-item">
              <a toggle="" href="https://www.arabccd.net/prize/">جائزة الملك عبد العزيز <span class="fas fa-angle-down"></span>
              </a>
              <ul class="nav-dropdown " *ngIf="show5">
                <div class="menu-links">
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/prize/#module-6118ab62d5f7f">عن الجائزة</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/prize/#module-6118ae67a33c7">دورات الجائزة</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/prize/#module-637e14b4281f4">البحوث الفائزة</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/prize/#module-6118c373dac8d">المركز الإعلامي</a>
                    </b>
                  </div>
                </div>
              </ul>
            </li></div>
            <div (mouseenter)="show6=true" (mouseleave)="show6=false">
            <li class="nav-item nav-dropdown-item">
              <a toggle="" href="https://www.arabccd.net/training/">مركز التدريب <span class="fas fa-angle-down"></span>
              </a>
              <ul class="nav-dropdown " *ngIf="show6">
                <div class="menu-links">
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/training/">رئيسية المركز</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/training/courses/">البرامج التدريبية</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/training/instructors/">المحاضرين</a>
                    </b>
                  </div>
                </div>
              </ul>
            </li></div>
            <div (mouseenter)="show7=true" (mouseleave)="show7=false">
            <li class="nav-item nav-dropdown-item">
              <a toggle="" href="https://www.arabccd.net/news/">المركز الإعلامي <span class="fas fa-angle-down"></span>
              </a>
              <ul class="nav-dropdown "*ngIf="show7">
                <div class="menu-links">
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/news/">الأخبار</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/videos/">البوم الفيديو</a>
                    </b>
                  </div>
                  <div class="menu-block single">
                    <b>
                      <a href="https://www.arabccd.net/gallery/">البوم الصور</a>
                    </b>
                  </div>
                </div>
              </ul>
            </li></div>
            <div class="nav-menu-sm">
              <div class="buttons suffix" style="margin-bottom:10px">
                <div>
                  <a href="https://www.arabccd.net/">
                    <i class="fal fa-home"></i>
                  </a>
                </div>
                <div>
                  <a data-toggle="dropdown">
                    <i class="fal fa-user"></i>
                  </a>
                  <ul class="dropdown-menu reverse animate">
                    <li>
                      <a href="#" data-toggle="modal" data-target="#loginModal">تسجيل الدخول</a>
                    </li>
                    <li>
                      <a href="https://www.arabccd.net/signup/">تسجيل حساب جديد</a>
                    </li>
                  </ul>
                </div>
                <div>
                  <a href="https://www.arabccd.net/soon/">EN</a>
                </div>
                <div>
                  <a>
                    <i class="fal fa-search"></i>
                  </a>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

