
.index_left a img, .pic img { background:#ebebeb; padding:4px; border:1px solid #cfcfcf; }
.index_left_b_l { width:263px; float:left;}
.index_left_b_r { width:251px; float:right; }
.index .space { margin:0 0 0 90px; }
.index_left_b { width:970px; padding:0; }

.btn_i { background: repeat-x; padding:3px 10px; border:1px solid #d9d9d9; }
a.btn_i { font:10px "Liberation sans", Arial, Verdana, Helvetica, sans-serif; color:#636262; }
