   <!-- Content Wrapper. Contains page content -->
   
    <!-- Content Header (Page header) -->
 
    <!-- Main content -->
    <app-snackbar #snackbar message={{message}} type = {{type}}></app-snackbar>

    <section class="content">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Add New Role</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body" style="display: block;">
          <!-- Content -->   
        <!-- Content -->
        <div class="form-group">
          <table class="table table-bordered">
            <thead>
              <tr>
                <td class="text-center" colspan="4">
                  <label for="name">Name:</label>
                  <input class="form-control" type="text" id="name" name="name" placeholder="Role Name" [(ngModel)]="name" required>
                  <div class="text-danger mt-1" *ngIf="formSubmitted && !name">Please enter a valid name.</div>
                </td>   
                <td class="project-actions text-center">
                  <button class="btn btn-primary btn-sm" href="#" (click)="onSubmit()">
                    <i class="fas fa-save"></i> Add
                  </button>
                </td>   
              </tr>
              <tr>
                <th colspan="4" class="text-center">Permissions</th>
                <th style="width: 20%" class="text-center">
                  <i class="fas fa-edit"></i>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="expandable-body">
                <td colspan="5">
                  <div class="ml-2">
                    <label>Permissions:</label>
                    <div class="form-check text-left" *ngFor="let permission of permissions; let i = index">
                      <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="permission{{ i }}" name="permissions"
                               [(ngModel)]="selectedPermissions[i]" [value]="permission" [checked]="false"
                               (change)="onPermissionChange()">
                        <label class="form-check-label" for="permission{{ i }}">{{ permission.name }}</label>
                      </div>
                    </div>
                    <div class="text-danger mt-1" *ngIf="formSubmitted && selectedPermissions.length === 0">Please select at least one permission.</div>
                  </div>
                </td>
              </tr>
         
            </tbody>
          </table>
        </div>
   
        
        
        
      

          

          <!-- ./Content -->
        </div>
        <!-- /.card-body -->

      </div>

      <!-- Default box -->
     
    </section>


    
    <!-- /.content -->

  <!-- /.content-wrapper -->
  