<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <app-snackbar #snackbar message={{message}} type = {{type}}></app-snackbar>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6 p-3">
            <h1><i class="nav-icon fas fa-dna"></i> Site Identity Manager </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a routerLink=''>Home</a></li>
              <li class="breadcrumb-item active">Site Identity</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <form [formGroup]="university">
    <div class="row m-auto">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="m-3 text-center"><h3 class="card-title mt-1 ">University Identity</h3></div>
            <div class="text-right m-2">
              <a class="btn btn-success" (click)="onSubmit($event)"><i class="fas fa-save"></i> Update</a>
            </div>
          </div>
          <!-- ./card-header -->
          <div class="card-body p-0">
            <table class="table table-hover">
              <tbody>
              <tr data-widget="expandable-table" aria-expanded="false" (click)="row1Expanded =!row1Expanded">
                <td>
                  <i *ngIf="!row1Expanded" class="fas fa-caret-right"></i>
                  <i *ngIf="row1Expanded" class="fas fa-caret-down"></i> University
                </td>
              </tr>
              <tr class="expandable-body" *ngIf="row1Expanded">
                <td>
                  <div class="p-0">
                    <table class="table table-hover">
                      <tbody>
                      <tr data-widget="expandable-table" aria-expanded="false" (click)="rowImages =!rowImages">
                        <td>
                          <i *ngIf="!rowImages" class="expandable-table-caret fas fa-caret-right fa-fw" ></i>
                          <i *ngIf="rowImages" class="expandable-table-caret fas fa-caret-down fa-fw"></i>All Images & Icons
                        </td>
                      </tr>
                      <tr class="expandable-body" *ngIf="rowImages">
                        <td>
                          <div class="p-0" formGroupName="universityImages">
                            <table class="table table-hover">
                              <tbody>
                              <tr>
                                <td>
                                  <div class="form-group" >
                                  <label >Default Cover Logo</label>
                                  <div class="input-group mb-3 mt-3">
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" formControlName="defaultCoverLogo" name="defaultCoverLogo" id="defaultCoverLogo" (change)="onFileSelected($event,'defaultCoverLogo',0)">>
                                      <label class="custom-file-label">{{ university.get('universityImages')?.get('defaultCoverLogo')?.value || 'Choose file' }}</label>
<!--                                      <label class="custom-file-label">{{ this.university.get('universityImages').get('defaultCoverLogo').value || 'Choose file' }}</label>-->
                                    </div>
                                  </div>
                                  <div *ngIf="this.fileUrls[0]">
                                    <img [src]="this.fileUrls[0]" style="height:200px;width:300px;" alt="Selected image">
                                  </div>
                                </div></td>
                              </tr>
                              <tr>
                                <td><div class="form-group">
                                  <label >Default Cover Logo Vertical</label>
                                  <div class="input-group ">
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" formControlName="defaultCoverLogoVertical" name="defaultCoverLogoVertical" id="defaultCoverLogoVertical" (change)="onFileSelected($event,'defaultCoverLogoVertical',1)">>
                                      <label class="custom-file-label">{{ university.get('universityImages')?.get('defaultCoverLogoVertical')?.value || 'Choose file' }}</label>
                                    </div>
                                  </div>
                                  <div *ngIf="this.fileUrls[1]">
                                    <img [src]="this.fileUrls[1]" style="height:200px;width:300px;" alt="Selected image">
                                  </div>
                                </div></td>
                              </tr>
                              <tr>
                                <td><div class="form-group">
                                  <label >Default Header Image</label>
                                  <div class="input-group mb-3 mt-3">
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" formControlName="defaultHeaderImage" name="defaultHeaderImage" id="defaultHeaderImage" (change)="onFileSelected($event,'defaultHeaderImage',2)">>
                                      <label class="custom-file-label">{{ university.get('universityImages')?.get('defaultHeaderImage')?.value || 'Choose file' }}</label>
                                    </div>
                                  </div>
                                  <div *ngIf="this.fileUrls[2]">
                                    <img [src]="this.fileUrls[2]" style="height:200px;width:300px;" alt="Selected image">
                                  </div>
                                </div></td>
                              </tr>
                              <tr>
                                <td><div class="form-group">
                                  <label >Default Browser icon</label>
                                  <div class="input-group mb-3 mt-3">
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" formControlName="defaultBrowserIcon" name="defaultBrowserIcon" id="defaultBrowserIcon" (change)="onFileSelected($event , 'defaultBrowserIcon',3)">>
                                      <label class="custom-file-label">{{ university.get('universityImages')?.get('defaultBrowserIcon')?.value || 'Choose file' }}</label>
                                    </div>
                                  </div>
                                  <div *ngIf="this.fileUrls[3]">
                                    <img [src]="this.fileUrls[3]" style="height:200px;width:300px;" alt="Selected image">
                                  </div>
                                </div></td>
                              </tr>
                              <tr>
                                <td><div class="form-group">
                                  <label >Secondary Logo</label>
                                  <div class="input-group">
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" formControlName="secondaryLogo" name="secondaryLogo" id="secondaryLogo" (change)="onFileSelected($event,'secondaryLogo',4)">>
                                      <label class="custom-file-label">{{ university.get('universityImages')?.get('secondaryLogo')?.value || 'Choose file' }}</label>
                                    </div>
                                  </div>
                                  <div *ngIf="this.fileUrls[4]">
                                    <img [src]="this.fileUrls[4]" style="height:200px;width:300px;" alt="Selected image">
                                  </div>
                                </div></td>
                              </tr>
                              <tr>
                                <td><div class="form-group">
                                  <label>Background image</label>
                                  <div class="input-group mb-3 mt-3">
                                    <div class="custom-file">
                                      <input type="file" class="custom-file-input" formControlName="backgroundImage" name="backgroundImage" id="backgroundImage" (change)="onFileSelected($event,'backgroundImage',5)">>
                                      <label class="custom-file-label">{{ university.get('universityImages')?.get('backgroundImage')?.value || 'Choose file' }}</label>
                                    </div>
                                  </div>
                                  <div *ngIf="this.fileUrls[5]">
                                    <img [src]="this.fileUrls[5]" style="height:200px;width:300px;" alt="Selected image">
                                  </div>
                                </div></td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                      <tr data-widget="expandable-table" aria-expanded="false" (click)="rowAbout = !rowAbout">
                        <td>
                          <i *ngIf="!rowAbout" class="expandable-table-caret fas fa-caret-right fa-fw" ></i>
                          <i *ngIf="rowAbout" class="expandable-table-caret fas fa-caret-down fa-fw"></i>About The University
                        </td>
                      </tr>
                      <tr class="expandable-body" *ngIf="rowAbout">
                        <td>
                          <div class="p-0" formGroupName="aboutUniversity">
                            <table class="table table-hover">
                              <tbody>
                              <tr data-widget="expandable-body d-none" aria-expanded="false">
                                <td>
                                  University Name <input class="form-control mb-3 mt-3" type="text" placeholder="Address" formControlName="universityName">
                                  <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></td>
                              </tr>
                              <tr data-widget="expandable-body d-none" aria-expanded="false">
                                <td>
                                  Short Description <input class="form-control mb-3 mt-3" type="text" placeholder="Short Description" formControlName="shortDescription">
                                  <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></td>
                              <tr data-widget="expandable-body d-none" aria-expanded="false">
                                <td>
                                  Main Slogan <input class="form-control mb-3 mt-3" type="text"  placeholder="Slogan" formControlName="mainSlogan">
                                  <div data-lastpass-icon-root="true" style="position: relative !important; height: 0 !important; width: 0px !important; float: left !important;"></div></td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              <!-- Contact us -->
              <tr data-widget="expandable-table" aria-expanded="false" (click)="rowContact = !rowContact">
                <td>
                  <i *ngIf="!rowContact" class="fas fa-caret-right"></i>
                  <i *ngIf="rowContact" class="fas fa-caret-down"></i> Contact us</td>
              </tr>
              <tr class="expandable-body" *ngIf="rowContact">
                <td>
                  <div class="p-0" [formGroup]="contactusForm">
                    <table class="table table-hover">
                      <tbody>
                      <tr data-widget="expandable-body d-none" aria-expanded="false">
                        <td>
                          University Address <input class="form-control mb-3 mt-3" type="text"  placeholder="Address" formControlName = "universityAddress" name="universityAddress" id="universityAddress">
                        </td>
                      </tr>
                      <tr data-widget="expandable-body d-none" aria-expanded="false">
                        <td>
                          University Email <input class="form-control mb-3 mt-3"  type="Email" placeholder="Email" formControlName ="universityEmail" name="universityEmail" id="universityEmail" >
                        </td>
                      </tr>
                      <tr data-widget="expandable-body d-none" aria-expanded="false">
                        <td>
                          Main Phone Number
                          <div class="input-group mb-3 mt-3">
                            <input type="text" class="form-control " placeholder="Phone Number" formControlName="mainPhoneNumber" name="mainPhoneNumber" id="mainPhoneNumber">

                          </div>
                        </td>
                      </tr>
                      <tr data-widget="expandable-body d-none" aria-expanded="false">
                        <td>
                          University Landline
                          <input class="form-control mb-3 mt-3" type="text" placeholder="Landline Number" formControlName="universityLandline" name="universityLandline" id="universityLandline">
                        </td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              <!-- University Social Accounts -->
              <tr data-widget="expandable-table"  (click)="rowAccounts=!rowAccounts">
                <td>
                  <i *ngIf="!rowAccounts" class="fas fa-caret-right"></i>
                  <i *ngIf="rowAccounts" class="fas fa-caret-down"></i> University Social Accounts
                </td>
              </tr>
              <tr class="expandable-body" >
                <td *ngIf="rowAccounts">
                  <div class="p-0" [formGroup]="socialMediaForm">
                    <table class="table table-hover">
                      <tbody>
                      <tr data-widget="expandable-body d-none" aria-expanded="false">
                        <td>
                          Facebook <i class="fab fa-facebook-square"></i> <div class="input-group mb-3 mt-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-link"></i></span>
                          </div>
                          <input type="text" class="form-control"  placeholder="Link" formControlName="facebookLink">
                          <div data-lastpass-icon-root="true"  style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
                        </td>
                      </tr>
                      <tr data-widget="expandable-body d-none" aria-expanded="false">
                        <td>
                          Twitter <i class="fab fa-twitter-square"></i>  <span class="fas ai-twitter"></span> <div class="input-group mb-3 mt-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-link"></i></span>
                          </div>
                          <input type="text"  class="form-control" placeholder="Link" formControlName="twitterLink">
                          <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
                        </td>
                      </tr>
                      <tr data-widget="expandable-body d-none" aria-expanded="false">
                        <td>
                          Instagram <i class="fab fa-instagram"></i> <div class="input-group mb-3 mt-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-link"></i></span>
                          </div>
                          <input type="text" class="form-control"  placeholder="Link" formControlName="instagramLink">
                          <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
                        </td>
                      </tr>
                      <tr data-widget="expandable-body d-none" aria-expanded="false">
                        <td>
                          University other links
                          <div class="input-group mb-3 mt-3">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-link"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Link"  formControlName="otherLink">
                            <div data-lastpass-icon-root="true" style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"></div></div>
                        </td>
                      </tbody>
                    </table>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
    </div>
    </form>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
</body>
<app-footer></app-footer>
<!--<p>site-identity works!</p>-->
