<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6 p-3">
            <h1><i class="nav-icon fas fa-users "></i> Class Builder</h1>
          </div>
          <div class="col-sm-6">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                <li class="breadcrumb-item active">Class Builder</li>
              </ol>
            </nav>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <div class="card-body">
      <form [formGroup]="form">
        <div class="form-group">
          <label class="required-field">Class Placeholder</label>
          <div class="input-group mb-3">
            <input  type="text" class="form-control" placeholder="Class Name" required
                    formControlName="placeholder" name = "placeholder">
          </div>
          <label class="required-field">Reference name</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="secondary name" required
                   formControlName = "reference_name" name="reference_name"></div>
          <label class="required-field">Pseudo-Class</label>

          <div class="container container-fluid">
            <div class="col-12">
              <!--angular tabs-->
              <app-tabs #tabs [classPlaceHolderChild]="classPlaceholder" ></app-tabs>
              <!--./angular tabs-->
            </div>
            <!--            <div class="right-div">-->
            <!--              <h2>Preview</h2>-->
            <!--              <div class="card">-->
            <!--                <div class="card-header">-->
            <!--                  {{classPlaceholder}}-->
            <!--                </div>-->
            <!--                <div class="card-body">-->
            <!--                  <div [ngStyle]="previewStyle || ''">-->
            <!--                    Sample text-->
            <!--                  </div>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->
          </div>

          <style>
            .container {
              display: flex; /* This makes the container a flex container */
            }


            .left-div {

              /*padding: 10px; !* Add some padding for spacing *!*/
              width: 70%; /* Set the width of each div to 50% */
            }

            .right-div {
              /*padding: 10px; !* Add some padding for spacing *!*/
              width: 30%; /* Set the width of each div to 50% */
            }
          </style>
          <div class="input-group mb-3">
            <label>Selected Tags:</label>
            <p>{{selectedTags}}</p>
          </div>
        </div>
        <div class="control-section e-tab-section">
          <div class="e-sample-resize-container">
            <div class="card-footer text-center">
              <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="form.invalid">Update</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
<app-footer></app-footer>
