<div id="columns"><a href="#">
</a><div class="index"><a href="#">
  </a><div class="index_left_b"><a href="#">
    </a>
    <div class="index_left_b_l"><a href="#">
    <h2>Announcements</h2>
    <p><b>A NEW Professional Master Degree in Cloud Computer Networks from the Faculty of Computers and Information</b></p>
    <a href="http://fci.cu.edu.eg/P_Master_Cloud_Computer_Networks"><img style="background:#ebebeb; padding:4px; border:1px solid #cfcfcf;" alt="Pic" src="/assets/images/CC.jpg" width="263" height="98"></a>
    <p> The Faculty of Computer and Information presents a new 
Professional Master Degree in Cloud Computer Networks. The program 
starts in September 2016.
    <br><br><a class="btn_i" href="http://fci.cu.edu.eg/P_Master_Cloud_Computer_Networks" style="border-radius: 20px;">More Details</a>
    

        </p>
 

