<div class="card ">
    <div class="card-header ">
        <h3 class="card-title mt-3">
            NavBar Elements
        </h3>

    </div>
    <!-- /.card-header -->
    <div class="card-body ">
        <ul class="todo-list " data-widget="todo-list" cdkDropList
            (cdkDropListDropped)="changePriorityOfElem($event,navElements)">
            <li cdkDrag [cdkDragData]="element.name" [cdkDragDisabled]="disableDrag" (cdkDragStarted)="isDragging = true" (cdkDragEnded)="isDragging = false"*ngFor="let element of getSortedData(navElements,'asc') "
                style="justify-content: center; align-items: center;">
                <!-- edits tools -->
                <span class="tools" >
                    <a routerLink="/NavElementEdit/{{element.id}}" class="fas fa-edit " style="color: #dc3545;"></a>
                    <a routerLink="/NavbarElements" (click)="deleteDisplay(element.id)" class="fas fa-trash "
                        style="color: #dc3545;"></a>

                </span>

                <div class="card-body ">
                    <div class="text-center" cdkDragHandle>{{element.name}}</div>

                    <button  class="btn btn-info btn-xs" style="float: right;"
                        (click)="displayDropDownForm(element.id,element.drop_down_elements.length)">
                        <i  class="fa fa-angle-double-down"></i>
                    </button>
                </div>

                <!-- D R O P   D O W N   E L E M E  N  T  S  -->
                <div *ngIf="showForm && showFormID===element.id" class="card ">
                    <div class="card-header ">
                        <h3 class="card-title mt-3" style="color: cadetblue; ">
                            DropDown Elements
                        </h3>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body ">
                        <ul class="todo-list " data-widget="todo-list" *ngIf="element.drop_down_elements.length!=0">

                            <table class="table table-sm table-bordered table-striped text-center">
                                <thead>
                                    <tr>

                                        <th scope="col">
                                            Priority
                                        </th>
                                        <th scope="col">
                                            Name
                                        </th>

                                        <th scope="col">
                                            Edit
                                        </th>
                                        <th scope="col">
                                            Delete
                                        </th>
                                    </tr>
                                </thead>
                                <tbody cdkDropList
                                    (cdkDropListDropped)="changePriorityOfElem($event,element.drop_down_elements,element.id)">
                                    <tr cdkDrag cdkDragLockAxis="y"
                                        *ngFor="let dropelement of getSortedData(element.drop_down_elements,'asc')  | paginate: { itemsPerPage: 5, currentPage: p2 } ">
                                        <td cdkDragHandle>{{dropelement.priority}}</td>
                                        <td cdkDragHandle>{{dropelement.name}}</td>
                                        <td> <a routerLink="/NavElementEdit/{{dropelement.id}}" class="fas fa-edit "
                                                style="color: #dc3545;"></a>
                                        </td>
                                        <td> <a routerLink="/NavbarElements" (click)="deleteDisplay(dropelement.id)"
                                                class="fas fa-trash " style="color: #dc3545;"></a>
                                        </td>

                                        <!-- Preview -->
                                        <div *cdkDragPreview matchSize="true" class="container dragdrop-placeholder">
                                            {{dropelement.name}}
                                        </div>
                                    </tr>

                                </tbody>
                            </table>



                        </ul>
                        <div class="container">
                            <div class="row">
                                <div class="card-footer col-sm-6" style="background-color:white;">
                                </div>
                                <div class="card-footer col-sm-6" style="background-color:white; ">

                                    <a [routerLink]="['/NavElementInsert', parent_id,  newDropElemPri]"
                                        class="btn btn-secondary btn-xs" data-toggle="modal" style="float: right;"><i
                                            class="fa fa-plus">&#xE147;</i> <span>Insert Drop Down Element</span></a>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

            </li>
        </ul>












        <div class="container">
            <div class="row">
                <div class="card-footer col-sm-6" style="background-color:white;">
                </div>
                <div class="card-footer col-sm-6" style="background-color:white; ">
                    <a [routerLink]="['/NavElementInsert', 0,  newElemPri]" class="btn btn-success" data-toggle="modal"
                        style="float: right;"><i class="fa fa-plus">&#xE147;</i> <span>Add New Element</span></a>
                </div>
            </div>
        </div>
    </div>