<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="position: fixed;">
  <!-- Brand Logo -->
  <a routerLink="/" class="brand-link">
    <img [src]="logoUrl" alt="FCAI CMS Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">FCAI CMS</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img [src]="userImageUrl" class="img-circle elevation-2" alt="User Image">
      </div>

      <div class="info">
        <a routerLink="/" class="d-block"> {{this.userName}} </a>
      </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
          data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">
          <a routerLink="/" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="/" class="nav-link active">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard Cms</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard Meetings</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="/" class="nav-link" (click)="addClass($event)">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard Departments</p>
              </a>
            </li>
          </ul>
        </li>

        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-header">Website Management</li>
          <ng-container *ngIf="permissionUrls[0].authorized || permissionUrls[1].authorized || permissionUrls[2].authorized || permissionUrls[3].authorized || permissionUrls[4].authorized || permissionUrls[5].authorized">
            <li class="nav-item" *ngIf="permissionUrls[0].authorized" (click)="addClass($event)">
              <a routerLink="/PageManagement" class="nav-link" (click)="addClass($event)">
                <i class="nav-icon fas fa-file"></i>
                <p>Page Management </p>
              </a>
            </li>
            <li class="nav-item" *ngIf="permissionUrls[1].authorized" (click)="addClass($event)">
              <a routerLink="/SiteIdentity" class="nav-link" (click)="addClass($event)">
                <i class="nav-icon fas fa-dna"></i>
                <p>
                  Site Identity
                </p>
              </a>
            </li>
            <li class="nav-item" *ngIf="permissionUrls[2].authorized" (click)="addClass($event)">
              <a routerLink="/ModuleManagement" class="nav-link" (click)="addClass($event)">
                <i class="nav-icon fas fa-sitemap"></i>
                <p>
                  Module Management
                </p>
              </a>
            </li>
            <li class="nav-item" *ngIf="permissionUrls[3].authorized" (click)="addClass($event)">
              <a routerLink="/ClassBuilder" class="nav-link" (click)="addClass($event)">
                <i class="nav-icon fab fa-css3"></i>
                <p>
                  Class Management
                </p>
              </a>
            </li>
            <li class="nav-item" *ngIf="permissionUrls[4].authorized" (click)="addClass($event)">
              <a routerLink="/DisplayManagement" class="nav-link" (click)="addClass($event)">
                <i class="nav-icon fas fa-desktop "></i>
                <p>
                  Display Management
                </p>
              </a>
            </li>
            <li class="nav-item" *ngIf="permissionUrls[5].authorized" (click)="addClass($event)">
              <a routerLink="/NavbarElements" class="nav-link" (click)="addClass($event)">
                <i class=" nav-icon fas fa-bars"></i>
                <p>
                  Navbar Elements
                </p>
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="permissionUrls[6].authorized || permissionUrls[7].authorized">
            <li class="nav-header">User Settings</li>
            <li class="nav-item" *ngIf="permissionUrls[6].authorized" (click)="addClass($event)">
              <a routerLink="/UserManagement" class="nav-link" (click)="addClass($event)">
                <i class="nav-icon fas fa-users "></i>
                <p>User Management</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="permissionUrls[7].authorized" (click)="addClass($event)">
              <a routerLink="/RoleManagement" class="nav-link" (click)="addClass($event)">
                <i class="nav-icon fas fa-user-tag"></i>
                <p>Role Management</p>
              </a>
            </li>
          </ng-container>
        </ul>
        <!-- <li class="nav-header">Website Management</li>
        <li *ngIf="permissionUrls[0].authorized"class="nav-item" (click)="addClass($event)">
          <a routerLink="/PageManagement" class="nav-link" (click)="addClass($event)">
            <i class="nav-icon fas fa-file"></i>
            <p>Page Management </p>
          </a>
        </li>  
        <li *ngIf="permissionUrls[1].authorized" class="nav-item" (click)="addClass($event)">
          <a routerLink="/SiteIdentity" class="nav-link" (click)="addClass($event)">
            <i class="nav-icon fas fa-dna"></i>
            <p>
              Site Identity
            </p>
          </a>
        </li>
        <li *ngIf="permissionUrls[2].authorized" class="nav-item" (click)="addClass($event)">
          <a routerLink="/ModuleManagement" class="nav-link" (click)="addClass($event)">
            <i class="nav-icon fas fa-sitemap"></i>
            <p>
              Module Management
            </p>
          </a>
        </li>
        <li *ngIf="permissionUrls[3].authorized" class="nav-item" (click)="addClass($event)">
          <a routerLink="/ClassBuilder" class="nav-link" (click)="addClass($event)">
            <i class="nav-icon fab fa-css3"></i>
            <p>
              Class Management
            </p>
          </a>
        </li>

  <li *ngIf="permissionUrls[4].authorized" class="nav-item">
                        <a routerLink="/DisplayManagement" class="nav-link">
                            <i class="nav-icon fas fa-desktop "></i>
                            <p>
                                Display Management
                            </p>
                        </a>
                    </li>
    <li *ngIf="permissionUrls[5].authorized" class="nav-item">
                      <a routerLink="/NavbarElements" class="nav-link">
                        <i class=" nav-icon fas fa-bars"></i>
                          <p>
                              Navbar Elements
                          </p>
                      </a>
                  </li>
        <li *ngIf="permissionUrls[6].authorized&&permissionUrls[7].authorized" class="nav-header ">User Settings</li>
        <li *ngIf="permissionUrls[6].authorized" class="nav-item" >
          <a routerLink="/UserManagement" class="nav-link" #navLink >
            <i class="nav-icon fas fa-users "></i>
            <p>User Management</p>
          </a>
        </li>
        <li *ngIf="permissionUrls[7].authorized" class="nav-item">
          <a routerLink="/RoleManagement" class="nav-link" #navLink >
            <i class="nav-icon fas fa-user-tag"></i>
            <p>Role Management</p>
          </a>
        </li> -->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
