<div id="columns"><a href="#">
</a><div class="index"><a href="#">
  </a><div class="index_left_b"><a href="#">
    </a>
    <div class="index_left_b_l"><a href="#">
    <h2>News</h2>
                   
    <p><b>General and Special Programs Final Exam Schedule - Fall 2022-2023</b></p>
    <a href="http://www.fci.cu.edu.eg/FCI-News-1219.html"><img src="/assets/images/good%20Luck%20exam2-mini.jpg" style="background:#ebebeb; padding:4px; border:1px solid #cfcfcf;"></a>
    <p>&nbsp;The&nbsp;final exams for the Fall semester 2022-2023 w...
    <a class="btn_i" href="http://www.fci.cu.edu.eg/FCI-News-1219.html" title="Read More" style="border-radius: 20px;">Details</a>
 
 
 
 </p><ul>
 
      <li> <u><a href="http://www.fci.cu.edu.eg/FCI-News-1218.html">Important instructions for students to use the educational platform Thinqi</a></u></li>
    
 
 
     <li> <u><a href="http://www.fci.cu.edu.eg/FCI-News-1217.html">Submission of the files of the new students will be started on Saturday 10-9-2022</a></u></li>
    
 
 
     <li> <u><a href="http://www.fci.cu.edu.eg/FCI-News-1214.html">Summer Semester 2021-2022</a></u></li>
    
 
 
  </ul>
 <br>
 <a class="btn_i" href="http://www.fci.cu.edu.eg/FCI-News-Arch.html" title="News Arch" style="border-radius: 20px;">News Archive</a>
  <p></p>

 
 
 
 
 
 
 
 