<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper ">
  <!-- Content Header (Page header) -->
  <div class="content-header ">
    <div class="container-fluid ">
      <div class="row mb-2 ">
        <div class="col-sm-6 ">
          <h1 class="m-0 ">Dashboard</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 ">
          <ol class="breadcrumb float-sm-right ">
            <li class="breadcrumb-item "><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active ">Dashboard Cms
            </li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content ">
    <div class="container-fluid ">
      <!-- Small boxes (Stat box) -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <!-- small box 1 -->
            <div class="small-box bg-info" style="height: 150px">
              <div class="inner">
                <app-clock></app-clock>
              </div>
              <div class="icon">
                <i class="ion ion-clock"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-6">
            <!-- small box 2 -->
            <div class="small-box bg-success " style="height: 150px">
              <div class="inner welcome">
                <h3>Welcome, {{ username }}</h3>
                <p>Thank you for using our platform!</p>
              </div>
              <div class="icon">
                <i class="ion ion-person"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-6">
            <!-- small box 3 -->
            <div class="small-box bg-warning" style="height: 150px">
              <div class="inner">
                <h3>Users Count: {{ userCount }}</h3>
                <p>Number of registered users on the platform</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-stalker"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
        </div>
      </div>

      <!-- /.row -->
      <!-- Main row -->
      <div class="row ">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable ">
          <!-- Custom tabs (Charts with tabs)-->
          <!-- /.card -->

          <!-- DIRECT CHAT -->
          <!--/.direct-chat -->

          <!-- TO DO List -->

          <!-- /.card -->
        </section>
        <!-- /.Left col -->
        <!-- right col (We are only adding the ID to make the widgets sortable)-->
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
