                    <!-- DISPLAY MANAGER -->
                    <div class="card">
                        <table class="table table-bordered ">
                        
                                <tbody>
                                <tr>
                                    <td colspan="1" class="text-center">Placeholder:</td>
                                    <td colspan="4" class="text-center">
                                        <input type="Text" class="form-control">
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="1" class="text-center">Tags:</td>
                                    <td colspan="4" class="text-center">
                                        <input type="Text" class="form-control">
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="1" class="text-center">Display Type:</td>
                                    <td>
                                        <div class="form-group clearfix">
                                            <div class="icheck-primary d-inline">
                                                <input type="radio" id="radioPrimary1" name="r1" checked>
                                                <label for="radioPrimary1"> Slider </label>
                                            </div>
                                            <div class="icheck-primary d-inline px-3">
                                                <input type="radio" id="radioPrimary2" name="r1">
                                                <label for="radioPrimary2"> Grid </label>
                                            </div>
                                        </div>
                                    </td>
                                    
                                    <td colspan="1">Display Source:</td>
                                    <td>
                                        <select class="form-control select2bs4" style="width: 100%;">
                                            <option>Parent Pages</option>
                                            <option>Child Pages</option>
                                        </select>
                                    </td>
                                   
                                </tr>

                                <tr>
                                    <td colspan="1" class="text-center">Displaysource:</td>
                                    <td colspan="4" class="text-center">
                                        <select class="form-control select2bs4" style="width: 100%;">
                                            <option>Parent page 1</option>
                                            <option>Parent page 2</option>
                                            <option>Parent page 3</option>
                                            <option>Parent page 4</option>
                                        </select>
                                    </td>
                                </tr>
                                </tbody>
                        
                        </table>
                    </div>