                    <!-- GRID SETTINGS -->
                    <section class="content-header">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3>Grid Settings</h3>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="content">
                        <!-- Default box -->
                        <div class="card">
                            <div class="card-body">
                                <!-- HERE | Modules inserted -->
                                <!-- Module Form & Editor -->
                                <div class="card">
                                    <table class="table table-bordered ">


                                        <tbody>
                                        <tr>
                                            <td colspan="1" class="text-center">Blocks count:</td>
                                            <td colspan="3" class="text-center">
                                                <input type="Text" class="form-control">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="1" class="text-center">Blocks Per Row:</td>
                                            <td colspan="1" class="text-center">
                                                <input type="Text" class="form-control">
                                            </td>

                                            <td colspan="1">Blocks spacing:</td>
                                            <td colspan="1" class="text-center">
                                                <input type="Text" class="form-control">
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="1" class="text-center">Blocks class:</td>
                                            <td colspan="1" class="text-center">
                                                <select class="form-control select2bs4" style="width: 100%;">
                                                    <option>class 1</option>
                                                    <option>class2</option>
                                                </select>
                                            </td>

                                            <td colspan="1">Animation:</td>
                                            <td colspan="1" class="text-center">
                                                <select class="form-control select2bs4" style="width: 100%;">
                                                    <option>animation 1</option>
                                                    <option>adnimation 2</option>
                                                </select>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td colspan="1" class="text-center">Horizontal Alignment:</td>
                                            <td colspan="1" class="text-center">
                                                <select class="form-control select2bs4" style="width: 100%;">
                                                    <option>Effect 1</option>
                                                    <option>Effect 2</option>
                                                </select>
                                            </td>

                                            <td colspan="1">Vertical Alignment:</td>
                                            <td colspan="1" class="text-center">
                                                <select class="form-control select2bs4" style="width: 100%;">
                                                    <option>Effect 1</option>
                                                    <option>Effect 2</option>
                                                </select>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- END HERE -->
                            </div>
                        </div>
                        <!-- /.card -->

                    </section>

                    <!-- save form -->
                    <section class="content">
                        <!-- Default box -->
                        <div class="card">
                            <div class="card-body">
                                <!-- HERE | Modules inserted -->
                                <!-- Module Form & Editor -->
                                <div class="card">
                                    <div class="card-footer">
                                        <button type="button"
                                                class="btn btn-block btn-success btn-lg">Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>                            <!-- /.card -->
                      
                    </section>
                    <!-- END OF GRID SETTINGS -->
