<!-- DISPLAY MANAGER -->
<form [formGroup]="displayManagerForm" >
    <div class="card">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td colspan="1" class="text-center">Placeholder:</td>
            <td colspan="4" class="text-center">
              <input [(ngModel)]="newDisplay.placeholder" [formControl]="placeholderControl" required type="text" class="form-control">
              <div class="alert alert-danger alert-required" 
              *ngIf="placeholderControl.invalid &&placeholderControl.errors?.['required']&& (placeholderControl.dirty || placeholderControl.touched || displayBool)">

              Placeholder is required.
            </div>
            <div class="alert alert-danger alert-required" 
            *ngIf="placeholderControl.invalid &&placeholderControl.errors?.['minlength']&& (placeholderControl.dirty || placeholderControl.touched || displayBool )">

          
            *Minimum length is 3 characters
          </div>
            </td>
          </tr>
          <tr>
            <td colspan="1" class="text-center">Display Type:</td>
            <td>
              <div class="form-group clearfix">
                <div class="icheck-primary d-inline">
                  <label>
                    <input type="radio" name="choice" value="slider" [(ngModel)]="newDisplay.type" [formControl]="typeControl"  (change)="checkStatus($event);"> Slider
                  </label>
                </div>
                <div class="icheck-primary d-inline px-3">
                  <label>
                    <input type="radio" name="choice" value="grid" [(ngModel)]="newDisplay.type" [formControl]="typeControl"  (change)="checkStatus($event);"> Grid
                  </label>
                </div>
              </div>
              <div class="alert alert-danger alert-required" 
              *ngIf="typeControl.invalid &&typeControl.errors?.['required']&& (typeControl.dirty || typeControl.touched || displayBool)">

              Please select a display type.
            </div>
             
            </td>
            <td colspan="1" class="text-center">Displaysource:</td>
            <td colspan="4" class="text-center">
              <select class="form-control select2bs4" style="width: 100%;" [(ngModel)]="newDisplay.source_page_id" [formControl]="source_page_idControl">
                <option *ngFor="let page of parentPages" [value]="page.id">{{page.title}}</option>
                
              </select>
            
              <div class="alert alert-danger alert-required" 
              *ngIf="source_page_idControl.invalid &&source_page_idControl.errors?.['required']&& (source_page_idControl.dirty || source_page_idControl.touched || displayBool)">

              Please select a display type.
            </div>
        
            </td>
          </tr>
          <tr></tr>
        </tbody>
      </table>
    </div>

  </form>

<!-- SLIDER SETTINGS -->
<section class="content-header" *ngIf="isSliderChecked">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Slider Settings</h3>
            </div>
        </div>
    </div>
</section>
<form [formGroup]="sliderForm" >
<section class="content" *ngIf="isSliderChecked">
    <!-- Default box -->
    <div class="card">
        <div class="card-body">
            <!-- HERE | Modules inserted -->
            <!-- Module Form & Editor -->
            <div class="card">
                <table class="table table-bordered ">
                    <tbody>
                        <tr>
                            <td colspan="1" class="text-center">Sliders per row:</td>
                            <td colspan="1" class="text-center">

                                <button class="btn btn-secondary  btn-sm mr-1" type="button"
                                    (click)="slider.slides_per_row=decrement(slider.slides_per_row,1)">-</button>
                                <input id="range" type="range" [formControl]="slidesPerRowControl" [(ngModel)]="slider.slides_per_row" min="1" max="7">
                                <button class="btn btn-primary  btn-sm ml-1" type="button"
                                    (click)="slider.slides_per_row=increment(slider.slides_per_row,7)">+</button>
                                <p> {{ slider.slides_per_row }} </p>


                            </td>

                            <td colspan="1">Sliders per column:</td>
                            <td colspan="1" class="text-center">
                                <button class="btn btn-secondary  btn-sm mr-1" type="button"
                                    (click)="slider.slides_per_column=decrement(slider.slides_per_column,1)">-</button>
                                <input id="range" type="range" [formControl]="slidesPerColumnControl" [(ngModel)]="slider.slides_per_column" min="1" max="7">
                                <button class="btn btn-primary  btn-sm ml-1" type="button"
                                    (click)="slider.slides_per_column=increment(slider.slides_per_column,7)">+</button>
                                <p> {{ slider.slides_per_column }} </p>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="1" class="text-center">Total slides:</td>
                            <td colspan="1" class="text-center">
                                <button class="btn btn-secondary  btn-sm mr-1" type="button"
                                    (click)="slider.total_slides=decrement(slider.total_slides,1)">-</button>
                                <input id="range" type="range" [formControl]=" totalSlidesControl" [(ngModel)]="slider.total_slides" min="1" max="150">
                                <button class="btn btn-primary  btn-sm ml-1" type="button"
                                    (click)="slider.total_slides=increment(slider.total_slides,150)">+</button>
                                <p> {{ slider.total_slides }} </p>

                            </td>

                            <td colspan="1">Slides spacing:</td>
                            <td colspan="1" class="text-center">
                                <button class="btn btn-secondary  btn-sm mr-1" type="button"
                                    (click)="slider.slides_spacing=decrement(slider.slides_spacing,1)">-</button>
                                <input id="range" type="range" [formControl]="  slidesSpacingControl" [(ngModel)]="slider.slides_spacing" min="1" max="20">
                                <button class="btn btn-primary  btn-sm ml-1" type="button"
                                    (click)="slider.slides_spacing=increment(slider.slides_spacing,20)">+</button>
                                <p> {{ slider.slides_spacing }} px</p>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="1" class="text-center">Center slides:</td>
                            <td colspan="1" class="text-center">
                                <div class="card-body">
                                    <label class="switch">
                                        <input type="checkbox" [formControl]="centerSlidesControl" [(ngModel)]="slider.center_slides">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </td>

                            <td colspan="1">Loop spacing:</td>
                            <td colspan="1" class="text-center">
                                <div class="card-body">
                                    <label class="switch">
                                        <input type="checkbox" [formControl]="loopSlidesControl" [(ngModel)]="slider.loop_slides">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="1" class="text-center">Auto Height:</td>
                            <td colspan="1" class="text-center">
                                <div class="card-body">
                                    <label class="switch">
                                        <input type="checkbox" [formControl]="autoHeightControl" [(ngModel)]="slider.auto_height">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </td>

                            <td colspan="1">Stretch Height:</td>
                            <td colspan="1" class="text-center">
                                <div class="card-body">
                                    <label class="switch">
                                        <input type="checkbox" [formControl]="stretchHeightControl" [(ngModel)]="slider.stretch_height">
                                        <span class="slider round"></span>
                                    </label>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="1" class="text-center">Slides class:</td>
                            <td colspan="1" class="text-center">
                                <select class="form-control select2bs4" style="width: 100%;"
                                    [(ngModel)]="slider.class_id" [formControl]="classIdControl">
                                    <option *ngFor="let css of cssclasses" [value]="css.id">{{css.placeholder}}</option>
                                </select>
                                <div class="alert alert-danger alert-required" 
                                *ngIf="classIdControl.invalid &&classIdControl.errors?.['required']&& (classIdControl.dirty || classIdControl.touched||sliderBool)">
                  
                                Class css is required.
                              </div>
                              
                            </td>

                            <td colspan="1">Animation:</td>
                            <td colspan="1" class="text-center">
                                <select class="form-control select2bs4" style="width: 100%;"
                                    [(ngModel)]="slider.animation" [formControl]="animationControl">
                                    <option>fade-in</option>
                                    <option>fade-out</option>
                                    <option>slide-in </option>
                                    <option>slide-out</option>
                                    <option>slide-left</option>
                                    <option>slide-right</option>
                                </select>
                                <div class="alert alert-danger alert-required" 
                                *ngIf="animationControl.invalid &&animationControl.errors?.['required']&& (animationControl.dirty || animationControl.touched || sliderBool)">
                  
                                Animation is required.
                              </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan="1" class="text-center">Auto Play:</td>
                            <td colspan="1" class="text-center">
                                <div class="card-body">
                                    <label class="switch">
                                        <input type="checkbox" [(ngModel)]="slider.auto_play" [formControl]="autoPlayControl">
                                        <span class="slider round"></span>
                                    </label>
                                </div>

                            </td>

                            <td colspan="1">Slide Effect:</td>
                            <td colspan="1" class="text-center">
                                <button class="btn btn-secondary  btn-sm mr-1" type="button"
                                    (click)="slider.effect_speed_ms=decrement(slider.effect_speed_ms,0)">-</button>
                                <input id="range" type="range" [(ngModel)]="slider.effect_speed_ms" min="0" max="100" [formControl]="effectSpeedMsControl">
                                <button class="btn btn-primary  btn-sm ml-1" type="button"
                                    (click)="slider.effect_speed_ms=increment(slider.effect_speed_ms,100)">+</button>
                                <p> {{ slider.effect_speed_ms }} ms</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" class="text-center">Chosse:</td>
                            <td>
                                <div class="form-group clearfix">

                                    <div class="icheck-primary d-inline">
                                        <label>
                                            <input type="radio" name="choice1" value="Arrow"
                                                [(ngModel)]="arrowAndBullet" [formControl]="arrowAndBulletControl"> Arrows
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline px-3">
                                        <label>
                                            <input type="radio" name="choice1" value="Bullet"
                                                [(ngModel)]="arrowAndBullet" [formControl]="arrowAndBulletControl" > Bullets
                                        </label>
                                    </div>
                                </div>
                                <div class="alert alert-danger alert-required" 
                                *ngIf="arrowAndBulletControl.invalid &&arrowAndBulletControl.errors?.['required']&& (arrowAndBulletControl.dirty || arrowAndBulletControl.touched || sliderBool)">
                  
                                 *Required.
                              </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END HERE -->
        </div>
    </div>
    <!-- /.card -->

</section>
</form>
<!-- END OF SLIDER SETTINGS -->

<!-- GRID SETTINGS -->
<section class="content-header" *ngIf="isGridChecked">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h3>Grid Settings</h3>
            </div>
        </div>
    </div>
</section>
<form [formGroup]="gridForm" >
<section class="content" *ngIf="isGridChecked">
    <!-- Default box -->
    <div class="card">
        <div class="card-body">
            <!-- HERE | Modules inserted -->
            <!-- Module Form & Editor -->
            <div class="card">
                <table class="table table-bordered ">


                    <tbody>
                        <tr>
                            <td colspan="1" class="text-center">Blocks count:</td>
                            <td colspan="3" class="text-center">
                                <button class="btn btn-secondary  btn-sm mr-1" type="button"
                                    (click)="grid.blocks_count=decrement(grid.blocks_count,1)">-</button>
                                <input id="range" type="range" [(ngModel)]="grid.blocks_count" min="1" max="150" [formControl]="blocks_count">
                                <button class="btn btn-primary  btn-sm ml-1" type="button"
                                    (click)="grid.blocks_count=increment(grid.blocks_count,150)">+</button>
                                <p> {{ grid.blocks_count }} </p>

                            </td>
                        </tr>

                        <tr>
                            <td colspan="1" class="text-center">Blocks Per Row:</td>
                            <td colspan="1" class="text-center">
                                <button class="btn btn-secondary  btn-sm mr-1" type="button"
                                    (click)="grid.blocks_per_row=decrement(grid.blocks_per_row,1)">-</button>
                                <input id="range" type="range" [(ngModel)]="grid.blocks_per_row" min="1" max="7" [formControl]="blocks_per_row">
                                <button class="btn btn-primary  btn-sm ml-1" type="button"
                                    (click)="grid.blocks_per_row=increment(grid.blocks_per_row,7)">+</button>
                                <p> {{ grid.blocks_per_row }} </p>

                            </td>

                            <td colspan="1">Blocks spacing:</td>
                            <td colspan="1" class="text-center">
                                <button class="btn btn-secondary  btn-sm mr-1" type="button"
                                    (click)="grid.blocks_spacing=decrement(grid.blocks_spacing,1)">-</button>
                                <input id="range" type="range" [(ngModel)]="grid.blocks_spacing" min="1" max="20" [formControl]="blocks_spacing">
                                <button class="btn btn-primary  btn-sm ml-1" type="button"
                                    (click)="grid.blocks_spacing=increment(grid.blocks_spacing,20)">+</button>
                                <p> {{ grid.blocks_spacing }} px</p>

                            </td>
                        </tr>

                        <tr>
                            <td colspan="1" class="text-center">Blocks class:</td>
                            <td colspan="1" class="text-center">
                                <select class="form-control select2bs4" style="width: 100%;"
                                    [(ngModel)]="grid.class_id" [formControl]="class_id">
                                    <option *ngFor="let css of cssclasses" [value]="css.id">{{css.placeholder}}</option>
                                </select>
                                <div class="alert alert-danger alert-required" 
                                *ngIf="class_id.invalid &&class_id.errors?.['required']&& (class_id.dirty || class_id.touched || gridBool)">
                  
                                Please select a Class Css.
                              </div>
                            </td>

                            <td colspan="1">Animation:</td>
                            <td colspan="1" class="text-center">
                                <select class="form-control select2bs4" style="width: 100%;"
                                    [(ngModel)]="grid.blocks_animation" [formControl]="blocks_animation">
                                    <option>fade-in</option>
                                    <option>fade-out</option>
                                    <option>slide-in </option>
                                    <option>slide-out</option>
                                    <option>slide-left</option>
                                    <option>slide-right</option>

                                </select>
                                <div class="alert alert-danger alert-required" 
                                *ngIf="class_id.invalid &&class_id.errors?.['required']&& (class_id.dirty || class_id.touched || gridBool)">
                  
                                Please select a Animation.
                              </div>
                            </td>

                        </tr>

                        <tr>
                            <td colspan="1" class="text-center">Horizontal Alignment:</td>
                            <td colspan="1" class="text-center">
                                <select class="form-control select2bs4" style="width: 100%;"
                                    [(ngModel)]="grid.horizontal_alignment" [formControl]="horizontal_alignment">
                                    <option>Effect 1</option>
                                    <option>Effect 2</option>
                                </select>
                            </td>

                            <td colspan="1">Vertical Alignment:</td>
                            <td colspan="1" class="text-center">
                                <select class="form-control select2bs4" style="width: 100%;"
                                    [(ngModel)]="grid.vertical_alignment" [formControl]="vertical_alignment" >
                                    <option>Effect 1</option>
                                    <option>Effect 2</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- END HERE -->
        </div>
    </div>
    <!-- /.card -->

</section>
<!-- END OF GRID SETTINGS -->
</form>





<!-- save form -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-body">
            <!-- HERE | Modules inserted -->
            <!-- Module Form & Editor -->
            <div class="card">
                <div class="card-footer">
                    <button type="button" class="btn btn-block btn-success btn-lg"  (click)="insertNewDisplay()">Insert
                    </button>
                    <!-- [disabled]="displayManagerForm.invalid||(sliderForm.invalid&&isSliderChecked)" -->
                </div>
            </div>
        </div>
    </div> <!-- /.card -->
 
</section>