<link href="/src/Theme2.css" rel="stylesheet">
<div class="footer">
    <div id="module-610e29633a110" class="module_custom class-610d2d067dae3 module-610e29633a110">
      <div class="container container-basic">
        <div class="module_custom_separator" style="height:37.5px"></div>
        <div class="">
          <div class="row grid-container-25" style="justify-content:flex-start; align-items:flex-start; flex-wrap:wrap">
            <div class="col-md-8 col-sm-8 grid-item ">
              <div>
                <span style="font-size:14px;">
                  <strong style="display:block;margin-bottom:10px;">
                    <img style="display:block;margin-left:auto;margin-right:auto;" src="/assets/images/6110d3bc4a540_5584.png" alt="" width="370" height="60">
                  </strong>
                </span>
              </div>
              <div style="text-align:justify;">
                <span style="font-size:14px;">المجلس العربي للطفولة والتنمية منظمة عربية غير حكومية ذات شخصية اعتبارية تعمل في مجال الطفولة برئاسة صاحب السمو الملكي الأمير عبد العزيز بن طلال بن عبد العزيز آل سعود، وقد جاء تأسيس المجلس عام 1987 بمبادرة من صاحب السمو الملكي الأمير طلال بن عبد العزيز آل سعود، رحمه الله.</span>
              </div>
              <br>
              <span style="font-size:14px;">
                <div class="module_contact_info">
                  <div class="info">
                    <i class="fas fa-mobile-alt"></i>&nbsp;&nbsp; <div class="number">
                      <a href="tel:+20-2-2349-2024">+20-2-2349-2024</a>
                      <br>
                      <a href="tel:+20-2-2349-2025">+20-2-2349-2025</a>
                      <br>
                      <a href="tel:+20-2-2349-2029">+20-2-2349-2029</a>
                      <br>
                      <a href="tel:+20-2-2349-2030 %D9%81%D8%A7%D9%83%D8%B3">+20-2-2349-2030 فاكس</a>
                    </div>
                  </div>
                  <div class="info">
                    <i class="fas fa-envelope"></i>&nbsp;&nbsp; <a href="mailto:accd@arabccd.org">accd@arabccd.org</a>
                  </div>
                  <div class="info">
                    <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp; <div>تقاطع شارعي مكرم عبيد ومنظمة الصحة العالمية، الحي الثامن - مدينة نصر - ص ب: 7537 - رمز بريدي 11762، القاهرة - جمهورية مصر العربية</div>
                  </div>
                </div>
              </span>
            </div>
            <div class="col-md-6 col-sm-6 grid-item ">
              <span style="color:#236fa1;font-size:14px;">
                <strong>
                  <span style="font-size:15px;">روابط هامة</span>
                  <br>
                </strong>
              </span>
              <br>
              <span style="font-size:14px;">
                <div class="module_quick_links">
                  <ul class="link single">
                    <li>
                      <b>
                        <a href="https://www.arabccd.net/about/">نبذة عن المجلس</a>
                      </b>
                    </li>
                  </ul>
                  <ul class="link single">
                    <li>
                      <b>
                        <a href="https://www.arabccd.net/publications/">إصدارات المجلس</a>
                      </b>
                    </li>
                  </ul>
                  <ul class="link single">
                    <li>
                      <b>
                        <a href="https://www.arabccd.net/projects/">مشاريع المجلس</a>
                      </b>
                    </li>
                  </ul>
                  <ul class="link single">
                    <li>
                      <b>
                        <a href="https://www.arabccd.net/events/">فعاليات المجلس</a>
                      </b>
                    </li>
                  </ul>
                  <ul class="link single">
                    <li>
                      <b>
                        <a href="https://www.arabccd.net/observatory/">المرصد الإعلامي</a>
                      </b>
                    </li>
                  </ul>
                  <ul class="link single">
                    <li>
                      <b>
                        <a href="https://www.arabccd.net/prize/">جائزة الملك عبد العزيز</a>
                      </b>
                    </li>
                  </ul>
                  <ul class="link single">
                    <li>
                      <b>
                        <a href="https://www.arabccd.net/clearing-house/">بوابة المعرفة</a>
                      </b>
                    </li>
                  </ul>
                  <ul class="link single">
                    <li>
                      <b>
                        <a href="https://www.arabccd.net/training/">مركز التدريب</a>
                      </b>
                    </li>
                  </ul>
                  <ul class="link single">
                    <li>
                      <b>
                        <a href="https://www.arabccd.net/contact/">اتصل بنا</a>
                      </b>
                    </li>
                  </ul>
                </div>
              </span>
            </div>
            <div class="col-md-6 col-sm-6 grid-item ">
              <div style="color:#236fa1;font-weight:bold;margin-bottom:10px;font-size:14px;">
                <span style="font-size:15px;">النشرة البريدية</span>
              </div>
              <span style="font-size:14px;">
                <form class="module_newsletter">
                  <input type="email" data-validation="email" placeholder="قم بإدخال بريدك الإلكتروني">
                  <input type="button" value="إشترك" class="btn btn-primary btn-sm" onclick="newsletterSubscribe(this)">
                </form>
                <script>
                  if (typeof newsletterSubscribe === "undefined") {
                    function newsletterSubscribe(target) {
                      var form = $(target).parent();
                      var email = form.find("input[type=email]");
                      if (!form.isValid(null, null, false)) {
                        email.attr("style", "border-color:rgb(185, 74, 72)");
                      } else {
                        email.removeAttr("style");
                        $.ajax({
                          method: "POST",
                          url: "requests/",
                          data: {
                            token: user_token,
                            action: "newsletter",
                            email: email.val()
                          },
                        }).done(function(response) {
                          email.val("");
                          messageBox("النشرة البريدية", response, "fas fa-check", "green");
                        }).fail(function(response) {
                          messageBox("النشرة البريدية", response.responseText, "fas fa-times", "red");
                        });
                      }
                    }
                  }
                </script>
              </span>
              <br>
              <div style="color:#236fa1;font-weight:bold;margin-bottom:10px;font-size:14px;">
                <span style="font-size:15px;">احصل علي التطبيق</span>
              </div>
              <span style="font-size:14px;">
                <div class="module_application_buttons">
                  <a href="https://www.arabccd.net/com.arabccd.application">
                    <img src="%D8%A7%D9%84%D9%85%D8%AC%D9%84%D8%B3%20%D8%A7%D9%84%D8%B9%D8%B1%D8%A8%D9%89%20%D9%84%D9%84%D8%B7%D9%81%D9%88%D9%84%D8%A9%20%D9%88%D8%A7%D9%84%D8%AA%D9%86%D9%85%D9%8A%D8%A9_files/android.svg">
                  </a>
                </div>
              </span>
              <br>
              <div style="color:#236fa1;font-weight:bold;margin-bottom:10px;font-size:14px;">
                <span style="font-size:15px;">تجدنا علي</span>
              </div>
              <span style="font-size:14px;">
                <div class="social_media_module">
                  <a href="https://www.facebook.com/arabccd" style="background:#3b579c">
                    <span class="fab fa-facebook-f"></span>
                  </a>
                  <a href="https://twitter.com/ArabCCD" style="background:#21a1f0">
                    <span class="fab fa-twitter"></span>
                  </a>
                  <a href="https://www.youtube.com/channel/UCM19eB9Enu-DfAkNtcLDgfg/videos" style="background:#fe0303">
                    <span class="fab fa-youtube"></span>
                  </a>
                  <a href="https://www.instagram.com/arabccd1" style="background:#336699">
                    <span class="fab fa-instagram"></span>
                  </a>
                </div>
              </span>
            </div>
          </div>
        </div>
        <div class="module_custom_separator" style="height:37.5px"></div>
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <div>جميع الحقوق محفوظة © المجلس العربى للطفولة والتنمية 2023 بدعم من أجفند</div>
      </div>
    </div>
  </div>
