               <!-- Module Form & Editor -->
               <div class="card">
                <table class="table table-bordered ">

                        <tbody>
                        <tr>
                            <td colspan="1" class="text-center">Placeholder</td>
                            <td colspan="4" class="text-center">
                                <input type="Text" class="form-control" placeholder="Module content"
                                       style="width:100%">
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center">Width</td>
                            <td class="text-center" colspan="4">
                                <div class="input-group">
                                    <input type="number" id="web" name="quantity" class="form-control" min="0"
                                           max="100" step="5"
                                           placeholder="Percentage">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button"
                                                onclick="document.getElementById('web').stepUp()">+
                                        </button>
                                        <button class="btn btn-secondary" type="button"
                                                onclick="document.getElementById('web').stepDown()">-
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="1" class="text-center">Animation Style</td>
                            <td>
                                <select class="form-control select2bs4" style="width: 100%;">
                                    <option>style1</option>
                                    <option>style2</option>
                                    <option>style3</option>
                                    <option>style4</option>
                                    <option>style5</option>
                                    <option>style6</option>
                                </select>
                            </td>
                            <td colspan="1">Class</td>
                            <td>
                                <select class="form-control select2bs4" style="width: 100%;">
                                    <option>Class1</option>
                                    <option>Class2</option>
                                    <option>Class3</option>
                                    <option>Class4</option>
                                    <option>Class5</option>
                                    <option>Class6</option>
                                </select>
                            </td>

                        </tr>
                        <tr>
                            <td colspan="1" class="text-center">Content</td>
                            <td class="card-body" colspan="3">
                                <ckeditor data="<p>Hello, world!</p>"></ckeditor>

                            </td>
                        </tr>
                        <td colspan="4">
                            <div class="card-footer">
                                <button type="button" class="btn btn-block btn-success btn-lg">Save</button>
                            </div>
                        </td>
                    
                </table>
            </div>
            <!-- END HERE -->