

<form [formGroup]="moduleForm">
<div class="card">
    <table class="table table-bordered ">

        <tbody>
            <tr>
                <td colspan="1" class="text-center">Name:</td>
                <td colspan="1" class="text-center">
                    <input  [(ngModel)]="editElement.name" [formControl]="nameControl" type="Text" class="form-control">
                    <div class="alert alert-danger alert-required" 
                    *ngIf="nameControl.invalid &&nameControl.errors?.['required']&& (nameControl.dirty || nameControl.touched)">
      
                    *Required
                </div>
                <div class="alert alert-danger alert-required" *ngIf="nameControl.invalid && nameControl.errors?.['minlength'] && (nameControl.dirty || nameControl.touched)">
                    *Minimum length is 3 characters
                  </div>
                  <div class="alert alert-danger alert-required" *ngIf="nameControl.invalid && nameControl.errors?.['maxlength'] && (nameControl.dirty || nameControl.touched)">
                    *Maximum length is 10 characters
                  </div>
                </td>
                
                
                <td colspan="1" class="text-center">Referenced Page:</td>
                <td colspan="1" class="text-center">
                    <select class="form-control select2bs4" style="width: 100%;" [formControl]="pageControl" [(ngModel)]="editElement.referenced_page">
                        <option value="1">Parent page 1</option>
                        <option value="2">Parent page 2</option>
                        <option value="3">Parent page 3</option>
                        <option value="4">Parent page 4</option>
                    </select>
                    <div class="alert alert-danger alert-required" 
                    *ngIf="pageControl.invalid &&pageControl.errors?.['required']&& (pageControl.dirty || pageControl.touched)">
      
                     *Required
                </div>

                </td>
            </tr>



        </tbody>

    </table>
</div>


<td colspan="4" style=" float:right">
   
      <button [disabled]="moduleForm.invalid" type="button" class="btn btn-block btn-success btn-lg" (click)="editElem()"
        >Save</button>
 
  </td>

</form>
