<body class="hold-transition sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
      <app-navbar></app-navbar>
     <app-sidebar></app-sidebar>
       </div>
       <div class="content-wrapper">
        <app-display-header></app-display-header>
        <section class="content">
           <div class="card">
            <div class="card-body">

    <app-edit-display-form></app-edit-display-form>
</div>


           </div>
        
        
        </section>
    </div>




    </body>

