<!-- bootstrap color picker -->
<!--<script [src]="'src/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js'"></script>-->
<!--<link rel="stylesheet" href="node_modules/ng-drag-drop/style.css">-->
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6 p-3">
            <h1><i class="nav-icon fas fa-users "></i> Class Builder</h1>
          </div>
          <div class="col-sm-6">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                <li class="breadcrumb-item active">Class Builder</li>
              </ol>
            </nav>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <div class="card-body">
      <form>
        <div class="form-group">
          <label class="required-field">Class Placeholder</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Class Name" required name="className"
                   [(ngModel)]="classPlaceholder">
          </div>
          <label class="required-field">Secondary Name</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Secondary Name" required name="secondaryName"
                   [(ngModel)]="secondaryName"></div>
          <label class="required-field">Pseudo-Class</label>

          <!--angular tabs-->
          <app-tabs></app-tabs>
          <!--./angular tabs-->

          <div class="input-group mb-3">
            <label>Selected Tags:</label>
            <p>{{selectedTags}}</p>
          </div>
        </div>
        <div class="control-section e-tab-section">
          <div class="e-sample-resize-container">
            <div class="card-footer text-center">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
<app-footer></app-footer>
