<div class="wrapper">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6 p-3">
            <h1><i class="nav-icon fas fa-users "></i> Class Builder</h1>
          </div>
          <div class="col-sm-6">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                <li class="breadcrumb-item active">Class Builder</li>
              </ol>
            </nav>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <div class="card-body">
      <form>
        <div class="form-group">
          <label class="required-field">Class Placeholder</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Class Name" required name="className" [(ngModel)]="classPlaceholder">
          </div>

          <label class="required-field">Tags</label>
          <div class="input-group mb-3">
            <select class="form-control" name="tags" [(ngModel)]="selectedTags" multiple>
              <option *ngFor="let tag of tags" [value]="tag">{{tag}}</option>
            </select>
          </div>

          <label class="required-field">Pseudo-Class</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="PseudoClass" required name="pseudoClass" [(ngModel)]="pseudoClass">
          </div>

          <label class="required-field">CSS Properties</label>
          <div class="input-group mb-3">
            <select class="form-control" name="cssProperties" [(ngModel)]="selectedProperties" multiple>
              <option *ngFor="let property of cssProperties" [value]="property">{{property}}</option>
            </select>
          </div>

          <label class="required-field">CSS Code</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="" required name="cssCode" [(ngModel)]="cssCode">
          </div>

          <div class="input-group mb-3">
            <label>Color picker:</label>
            <input type="text" class="form-control my-colorpicker1 colorpicker-element" data-colorpicker-id="1" data-original-title="" title="" name="colorPicker" [(ngModel)]="colorPickerValue">
          </div>

          <div class="input-group mb-3">
            <label>Selected Tags:</label>
            <p>{{selectedTags}}</p>
          </div>
        </div>
        <div class="card-footer text-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
