
<div id="nav1">
        <ul class="menusm">
           <li class="" >
            <div (mouseenter)="showMenu1=true" (mouseleave)="showMenu1=false">
            <a href="#" class="top_level" >Academic</a>
              <ul *ngIf="showMenu1" >		 	
                  <li><a  href="" title="Undergraduate Level" class="">Undergraduate Level</a></li>
                  <li><a  href="" title="Postgraduate Level" class="">Postgraduate Level</a></li>
                  <li><a  href="" title="Special programs" class="" >Special programs</a></li>
                  </ul >  </div> 
            </li>
            <li class="" >
              <div (mouseenter)="showMenu2=true" (mouseleave)="showMenu2=false" >
                <a href="#" class="top_level" >Research</a>
              <ul *ngIf="showMenu2">
                  <li><a href="http://www.fci.cu.edu.eg/Research_Directions" title="Research Directions">Research Directions</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Completed_Msc" title="List of M.Sc">List of M.Sc</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Completed_PhD" title="List of Ph.D">List of Ph.D</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Conferences" title="Conferences">Conferences</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Journal" title="Journal">Journal</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Research_Ethics" title="Research Ethics">Research Ethics</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Intellectual_Property" title="Intellectual Property Rights Guide">Intellectual Property Rights Guide</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Library" title="Library">Library</a></li>
           
                </ul></div> </li>
         <li class="" >
          <div (mouseenter)="showMenu3=true" (mouseleave)="showMenu3=false" >
            <a href="#" class="top_level">Community</a>
            <ul *ngIf="showMenu3">
                  <li><a href="http://cad.fci.cu.edu.eg/" title="Community Affairs">Community Affairs</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Faculty_Centers" title="Faculty Centers">Faculty Centers</a></li>
                  <li><a href="http://ecom.fci.cu.edu.eg/" title="E Community" >E Community</a></li>
            </ul> </div>
          </li>
          <li class="" >
            <div (mouseenter)="showMenu4=true" (mouseleave)="showMenu4=false" >
            <a href="#" class="top_level">Students Services</a>
            <ul *ngIf="showMenu4">		
                  <li><a href="http://www.fci.cu.edu.eg/Academic_Agenda" title="Academic Agenda" class="">Academic Agenda</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Time_Tables" title="Time Tables">Time Tables</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Exam_Time_Tables" title="Exam Time Tables">Exam Time Tables</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Udergraduate_Student_Guide" title="Udergraduate Student Guide">Udergraduate Student Guide</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Undergraduate_Statistics" title="Undergraduate Statistics">Undergraduate Statistics</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Faculty_Office_Hours" title="Faculty Office Hours">Faculty Office Hours</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Code_of_Ethics_Students" title="Code of Ethics FCI-CU Students">Code of Ethics FCI-CU Students</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Academic_Advising" title="Academic Advising" >Academic Advising</a></li>
       </ul> </div></li>

            <li class="" >
              <div (mouseenter)="showMenu5=true" (mouseleave)="showMenu5=false" >
              <a href="#" class="top_level">PostGraduate Services</a>
              <ul *ngIf="showMenu5">		
                  <li><a href="http://www.fci.cu.edu.eg/Postgraduates_Student_Guide" title="Postgraduates Student Guide">Postgraduates Student Guide</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Master" title="Master">Master</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/PhD" title="PhD">PhD</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Phd_Exams" title="PhD Qualification Exams">PhD Qualification Exams</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/PG_Faculty_Office_Hours" title="Faculty Office Hours">Faculty Office Hours</a></li>
                  <li><a href="http://www.fci.cu.edu.eg/Code_of_Ethics_PG" title="Code of Ethics FCI-CU Students" >Code of Ethics FCI-CU Students</a></li>
            </ul> </div>
          </li>
          <li class=""><a href="http://www.fci.cu.edu.eg/Important_Links" class="top_level">Important Links </a></li>
          <li class=""><a href="http://mail.fci-cu.edu.eg/" class="top_level">E-Mail</a></li>
          <li class=""><a href="http://www.fci.cu.edu.eg/Search" class="top_level">Search</a></li> 
        </ul>
        <div class="clr"></div>
</div>

