<p>user-create works!</p>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
    <app-navbar></app-navbar>
   <app-sidebar></app-sidebar>
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6 p-3">

            <h1><i class="nav-icon fas fa-users "></i> User Management</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
              <li class="breadcrumb-item active">User Management</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <!-- Quick Example -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Add User</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <form [formGroup]="createUser"  (ngSubmit)="onSubmit()" >
          
          <div class="card-body">
            <label for="exampleInputPassword1" class="required-field">User Information </label>
           
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">@</span>
              </div>
              <input type="text" class="form-control" placeholder="Username " 
              required
              formControlName="user_name"
              >
            
            </div>
            <div class="text-danger"
            *ngIf="createUser.get('user_name')?.invalid &&createUser.get('user_name')?.errors?.['required']&& (createUser.get('user_name')?.dirty || createUser.get('user_name')?.touched)">

            UserName is required.
          </div>
          <div class="text-danger"
          *ngIf="createUser.get('user_name')?.invalid &&createUser.get('user_name')?.errors?.['minlength']&& (createUser.get('user_name')?.dirty || createUser.get('user_name')?.touched)">

          *Minimum length is 3 characters
        </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
              </div>
              <input type="email" class="form-control" placeholder="Email"
               required
               email
               formControlName="email"
               >
           
            
            </div>
            <div class="text-danger"
            *ngIf="createUser.get('email')?.invalid &&createUser.get('email')?.errors?.['required']&& (createUser.get('email')?.dirty || createUser.get('email')?.touched)">

            Email is required.
          </div>
          <div class="text-danger"
          *ngIf="createUser.get('email')?.invalid&& !(createUser.get('email')?.errors?.['required'])&& (createUser.get('email')?.dirty || createUser.get('email')?.touched)">

          Email is invalid.
        </div>
            
            <div class="form-group">
              <label for="exampleInputPassword1" class="required-field">Password</label>
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" required formControlName="password">
              </div>
                <div *ngIf="createUser.get('password')?.invalid && (createUser.get('password')?.dirty || createUser.get('password')?.touched)" class="text-danger">
                  <div *ngIf="createUser.get('password')?.errors?.['required']">Please enter a password.</div>
                  <div *ngIf="(createUser.get('password')?.hasError('minlength') && createUser.get('password')?.dirty) || createUser.get('password')?.touched">Password must be at least 6 characters long.</div>
                </div>
                
              <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Confirm Password" required formControlName="password_confirmation">
              </div>
                <div *ngIf="createUser.get('password_confirmation')?.invalid && createUser.get('password_confirmation')?.dirty || createUser.get('password_confirmation')?.touched" class="text-danger">
                 <div *ngIf="createUser.get('password_confirmation')?.errors?.['required']" >Please confirm your password.</div>
                 <div *ngIf="createUser.get('password_confirmation')?.hasError('passwordMismatch') && ((createUser.get('password_confirmation')?.dirty || createUser.get('password_confirmation')?.touched))">Passwords don't match.</div>
              </div>
           
              
            </div>
            
            <!-- select -->
            <div class="form-group">
              <label for="exampleInputFile" class="required-field">Role</label>
              <div class="input-group">
                <select class="form-control" formControlName="role">
                  <option selected hidden>Select a role</option>
                  <option *ngFor="let role of roles" [ngValue]="role.name">{{ role.name }}</option>
                </select>
              </div>
              <!-- /.select -->
            </div>
                   
          </div>
          <!-- /.card-body -->

          <div class="card-footer  text-center">
            <button type="submit" class="btn 
            btn-success btn-lg"
            [disabled]="!createUser.valid">Add</button>

            <button type="reset" class="btn 
            btn-danger btn-lg">Reset</button>
          </div>          
            <div *ngIf="submited" class="col-12 text-green" style="text-align: center;">
              user has been submited successfuly </div>

        </form>
        
      </div>
      
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
    </div>
</body>
<app-footer></app-footer>